<section class="hero">
    <div class="hero-body ">
        <div class="container">
            <h1 class="title">
                Vilkår og betingelser for å bruke tjenesten
            </h1>

            <h2 class="subtitle">
                Når du bruker ledig-for-oppdrag.no godkjenner du at:
            </h2>
            <div class="columns">
                <div class="column">
                    <p>1. ledig-for-oppdrag.no lagrer profildata fra linkedin.</p>
                    <p>2. din profil blir vist på ledig-for-oppdrag.no.</p>
                    <p>3. informasjonen som brukeren velger å oppgi, er totalt opp til bruker. ledig-for-oppdrag.no har ingen ansvar når det kommer til å sjekke om informasjon som er oppgitt er riktig.</p>
                    <p>4. dersom du har lagt ut et oppdrag her, så stiller ledig-for-oppdrag.no helt uten ansvar når det kommer til hvem du kommer i kontakt med eller hvordan de oppfører seg overfor dere.</p>
                    <p>5. ledig-for-oppdrag.no stiller seg fritt til å kunne slette hvem som helst sin profil eller oppdrag til hvilket som helst tidspunkt.</p>
                </div>
            </div>

            <br><br><br>

            <p>Same content translated to english: </p>

            <h1 class="title">
                Terms and conditions for using the service
            </h1>

            <h2 class="subtitle">
                When using ledig-for-oppdrag.no you approve that:
            </h2>
            <div class="columns">
                <div class="column">
                    <p>1. ledig-for-oppdrag.no stores profile data from linkedin.</p>
                    <p>2. your profile is shown on ledig-for-oppdrag.no.</p>
                    <p>3. the information given by the user is totally up to the user. ledig-for-oppdrag.no has no responsibility when it comes to checking if the information is correct.</p>
                    <p>4. if you have let out an assignment here, then ledig-for-oppdrag.no has no liability when it comes to who you contact or how they behave towards you.</p>
                    <p>5. ledig-for-oppdrag.no has the right to delete anyones assignment or profile at any point in time.</p>

                </div>
            </div>

        </div>
    </div>
</section>

